<div class="container">
    <div class="card mb-3">

        <div class="card-header col-md-12 text-center"> 
            <h1 class="card-title">{{title}}</h1>
        </div>

        {{#if activeEditorial}}
        <form action="/admin/edit/editorial" method="post" class="needs-validation" novalidate>

            <div class="card-body row">

                <div class="col-md-12">
                    <div class="form-group fs-4 me-3 mt-2 mb-1">
                        <label for="editorialName" class="form-label mb-0">Editorial name</label>
                        <input type="text" class="form-control" id="editorialName" name="editorialN" placeholder="Name" value="{{editorial.EditorialName}}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group fs-4 me-3 mt-3 mb-1">
                            <label for="editorialPhone" class="">Editorial phone</label>
                            <input type="text" class="form-control" id="editorialPhone" name="editorialP" placeholder="000-000-0000" maxlength="10" autocomplete="off" min="1" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" value="{{editorial.EditorialPhone}}" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a Phone number.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group fs-4 me-3 mt-3 mb-1">
                            <label for="editorialCountry" class="">Editorial country</label>
                            <input type="text" class="form-control" id="editorialCountry" name="editorialC" placeholder="Country" value="{{editorial.EditorialCountry}}" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a Country.
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{{editorial.id}}">
                </div>

                <div class="card-body p-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/admin/editorials" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </form>
        {{/if}}

        {{#if activeAuthor}}
        <form action="/admin/edit/author" method="post" class="needs-validation" novalidate>
            <div class="card-body row">
                <div class="col-md-12">
                    <div class="form-group fs-4 me-3 mt-2 mb-1">
                        <label for="authorName" class="form-label mb-0">Author name</label>
                        <input type="text" class="form-control" id="authorName" name="authorN" placeholder="Name" value="{{author.AuthorName}}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a name.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group fs-4 me-3 mt-3 mb-1">
                        <label for="authorPhone" class="">Author Email</label>
                        <input type="email" class="form-control" value="{{author.AuthorGmail}}" name="authorG" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Email.
                        </div>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{author.id}}">
                <div class="card-body p-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/admin/author" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </form>
        {{/if}}

        {{#if activeCategory}}
            <form action="/admin/edit/categoric" method="post" class="needs-validation" novalidate>
            <div class="card-body row">
                <div class="col-md-12">
                    <div class="form-group fs-4 me-3 mt-2 mb-1">
                        <label for="categoryN" class="form-label mb-0">categoric name</label>
                        <input type="text" class="form-control" id="categoryN" name="categoryN" placeholder="Name" value="{{category.CategoryName}}" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a name.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group fs-4 me-3 mt-3 mb-1">
                        <label for="categoryD" class="">Category Description</label>
                        <input type="text" id="categoryD" class="form-control" value="{{category.CategoryDescription}}" name="categoryD" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a Description.
                        </div>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{category.id}}">
                <div class="card-body p-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/admin/categoric" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </form>
        {{/if}}

        {{#if activeBooks}}
            <form enctype="multipart/form-data" action="/admin/edit/books" method="post" class="needs-validation" novalidate> 
            
            <div class="row m-3 p-2">
            <div class="col-md-12">
              <div class="form-group fs-4 me-3 mt-2 mb-1">
                <label for="bookN" class="form-label mb-0">Book name</label>
                <input type="text" class="form-control" id="bookN" name="bookN" placeholder="Name" value="{{book.BookName}}" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please choose a name.
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group fs-4 me-3 mt-3 mb-1">
                <label for="bookImgPath" class="form-label">Select a images</label>
                <input class="form-control" type="file" name="bookImgPath" id="bookImgPath" accept="image/png, image/gif, image/jpeg" />
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please choose a images.
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group fs-4 me-3 mt-3 mb-1">
                <label for="editorialCountry" class="">Book Year</label>
                <input type="date" class="form-control" id="bookYear" name="bookYear" value="{{book.BookYear}}" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please choose a Year.
                </div>
              </div>
            </div>
            <div class="col-md-12">

              <div class="form-group fs-4 me-3 mt-2 mb-1">
                <label for="bookAuthor" class="form-label mb-0">Author Book</label>
                <select class="form-select" id="bookAuthor" name="bookAuthor" required >
                  {{#each authors as |a key|}}
                    {{#if (verify a.id book.AuthorId)}}
                        <option selected value="{{a.id}}">{{a.AuthorName}}</option>
                    {{/if}}
                    <option value="{{a.id}}">{{a.AuthorName}}</option>
                  {{/each}}
                </select>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please Select an author.
                </div>
              </div>

              <div class="form-group fs-4 me-3 mt-2 mb-1">
                <label for="bookCategory" class="form-label mb-0">Category Book</label>
                <select class="form-select" id="bookCategory" name="bookCategory" required >
                  {{#each categoric as |c key|}}
                    {{#if (verify c.id book.CategoryId)}}
                        <option selected value="{{c.id}}">{{c.CategoryName}}</option>
                    {{/if}}
                    <option value="{{c.id}}">{{c.CategoryName}}</option>
                  {{/each}}
                </select>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please Select a Category.
                </div>
              </div>

              <div class="form-group fs-4 me-3 mt-2 mb-1">
                <label for="bookEditorial" class="form-label mb-0">Editorial Book</label>
                <select class="form-select" id="bookEditorial" name="bookEditorial" required >
                  {{#each editorials as |e key|}}
                    {{#if (verify e.id book.EditorialId)}}
                        <option selected value="{{e.id}}">{{e.EditorialName}}</option>
                    {{/if}}
                    <option value="{{e.id}}">{{e.EditorialName}}</option>
                  {{/each}}
                </select>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please Select a Category.
                </div>
              </div>

                <input type="hidden" name="id" value="{{a.id}}">
                <div class="card-body p-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/admin/books" class="btn btn-warning">Cancel</a>
                </div>
            </form>
        {{/if}}
    </div>
</div>